html  {
  font-family: arial;
}

#banner {
  
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #00ccff;
  color: white;
}

#banner a{
  color: white;
  text-decoration: none;
}

#banner h1  {
  font-size: 50px;
}

nav {
  border-bottom: solid black;
  border-width: 1px;
  margin-bottom: 10px;
}

.nav-link  {
  color: black;
  font-weight: bold;
}

#landing  {
  --sectionHeight: 500px;
  height: var(--sectionHeight);
  max-height: var(--sectionHeight);
}

#contact-me  {
  --sectionHeight: 400px;
  height: var(--sectionHeight);
  max-height: var(--sectionHeight);
}

#about-me  {
  --sectionHeight: 800px;
  height: var(--sectionHeight);
  max-height: var(--sectionHeight);
}

#projects  {
  --sectionHeight: 100%;
  height: var(--sectionHeight);
  max-height: var(--sectionHeight);
}

footer {
  background-color: gray;
  margin-top: 10px;
  text-align: center;
  color: white;
  padding: 5px;
}
