html  {
  font-family: arial;
  height: 100%;
  min-height: 100%;
}

#banner {
  
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #00ccff;
  color: white;
}

#banner a{
  color: white;
  text-decoration: none;
}

#banner h1  {
  font-size: 50px;
}

nav {
  border-bottom: solid black;
  border-width: 1px;
  margin-bottom: 10px;
  
}

.nav-link  {
  color: black;
  font-weight: bold;
}

#sidebar  {
  background-color: lightgray;
  height: 100%;
  min-height: 100%;
  margin-bottom: 25px;
}

#toggle {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: darkgrey;
  color: white;
}

.sidebar-item {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 2px;
}